- name: Configure SAP Server
  hosts: sap_servers
  gather_facts: false

  vars:
    project_root: "{{ playbook_dir }}/../.."
    
  tasks:
    - name: Check SAP VM file exists
      stat:
        path: "{{ project_root }}/terraform/sap-server-01.txt"
      register: sap_vm_file

    - name: Print SAP VM status
      debug:
        msg: "SAP VM is ready!"
      when: sap_vm_file.stat.exists
